<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/slogan"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/slogan_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CarTrade"
        tools:targetApi="31">
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.Login"
            android:label="LoginActivity"></activity>
        <activity
            android:name=".ui.activity.Registar"
            android:label="RegistarActivity"></activity>
        <activity
            android:name=".ui.activity.Favorites"
            android:label="FavoritesActivity"></activity>

        <activity
            android:name=".ui.activity.CarDetails"
            android:label="CarDetailsActivity"></activity>

        <activity
            android:name=".ui.activity.Perfil"
            android:label="PerfilActivity"></activity>

        <activity
            android:name=".ui.activity.AddCar"
            android:label="AddCarActivity"></activity>
        <activity
            android:name=".ui.activity.EditCar"
            android:label="EditCarActivity"></activity>
        <activity
            android:name=".ui.activity.AdsCar"
            android:label="AdsCarActivity"></activity>
    </application>
</manifest>